body {
  background-color: palevioletred;
  height: 100%;
  text-align: center;
  font-family: 'Libre Caslon Text', serif;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("funbun.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.item {
  padding: 50px;
  margin: 50px;
  background-color: white;
}

.item-name {
  font-size: 1.1em;
  font-weight: 600;
}

.item-price {

}

#about-us {
  padding: 5px;
  background-color: white;
}

#admin-page {
  background-color: lightblue;
  font-size: 1.5em;
  font-family: 'Merriweather Sans', sans-serif;
}

#new-item-button {
  background-color: whitesmoke;
  border: none;
  color: darkblue;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  border-radius: 12px
}

.item-image {
  max-width: 200px;
}